:root {
  --board-size: 60vh;
  --num-squares: 3;
  --square-size: calc(var(--board-size) / var(--num-squares));
  --mini-square-size: calc(var(--square-size) / 3);
  --background: #a8ffbc;
  --primary: #5bcee2;
  --secondary: #5be2c7;
  --tertiary: #c6ffcc;
  --corner-radius: 7px;
  --shadow-size: calc(var(--board-size) / 90); 
  --board-shadow-size: calc(var(--shadow-size) * 1.1);
}

body {
  background-color: var(--background);
}

.status {
  text-align: center;
  font-size: calc(var(--board-size) / 8);
  font-family: Optima, sans-serif;
  font-weight: bold;
  color: var(--primary);
  margin: 20px 0;
}

.option {
  margin: calc(var(--board-size) / 15) calc(var(--board-size) / 15);
  width: calc(var(--board-size) / 3 + 5vh);
  height: calc(var(--board-size) / 10);
  background-color: var(--secondary);
  color: #c6ffcc;
  font-weight: bold;
  font-size: calc(var(--board-size) / 18);
  border: calc(var(--shadow-size) * 0.8) solid var(--secondary);
  border-radius: var(--shadow-size);
  background-clip: border-box;
  box-shadow: var(--shadow-size) var(--shadow-size) var(--primary);
}

.option:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
