:root {
  --size: 15vw;
  --bg: rgb(90, 211, 211);
}

body {
  background-color: var(--bg);
}

.O, .X {
  margin: 0;
  color: var(--bg);
}

.X {
  filter: invert(1);
}

.square {
  background-color: #97dbeb;
  border: 1px solid #000;
  float: left;
  line-height: var(--size);
  font-size: calc(var(--size) * 5 / 8);
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  padding: 0;
  margin: 2px;
  text-align: center;
  height: var(--size);
  width: var(--size);
}

.board {
  padding: 7px;
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board > div:first-of-type > button:first-of-type {
  border-top-left-radius: 5px;
}

.board > div:first-of-type > button:last-of-type {
  border-top-right-radius: 5px;
}

.board > div:last-of-type > button:first-of-type {
  border-bottom-left-radius: 5px;
}

.board > div:last-of-type > button:last-of-type {
  border-bottom-right-radius: 5px;
}

.status {
  text-align: center;
  font-size: calc(var(--size) * 3 / 8);
  font-family: Optima, sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  margin-bottom: 20px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}