:root {
  --size: 15vw;
  --primary: rgb(90, 211, 211);
  --secondary: #97dbeb;
  --corner-radius: 7px;
}

body {
  background-color: var(--primary);
}

.O, .X {
  margin: 0;
  color: var(--primary);
}

.X {
  filter: invert(1);
}

.square {
  background-color: var(--secondary);
  border: 1px solid #000;
  float: left;
  line-height: var(--size);
  font-size: calc(var(--size) * 5 / 8);
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  padding: 0;
  margin: 2px;
  text-align: center;
  height: var(--size);
  width: var(--size);
}

.board {
  padding: 5px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: calc(var(--corner-radius) * 2);
  background-clip: border-box;
  box-shadow: 5px 5px black;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board > div:first-of-type > button:first-of-type {
  border-top-left-radius: var(--corner-radius);
}

.board > div:first-of-type > button:last-of-type {
  border-top-right-radius: var(--corner-radius);
}

.board > div:last-of-type > button:first-of-type {
  border-bottom-left-radius: var(--corner-radius);
}

.board > div:last-of-type > button:last-of-type {
  border-bottom-right-radius: var(--corner-radius);
}

.status {
  text-align: center;
  font-size: calc(var(--size) * 3 / 8);
  font-family: Optima, sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  margin-bottom: 20px;
}

.option {
  margin: 0 calc(var(--size) / 5);
  width: calc(var(--size) * 1.1);
  height: calc(var(--size) / 3);
  background-color: var(--secondary);
  color: #000;
  font-weight: bold;
  font-size: calc(var(--size) / 6);
  border: 2px solid white;
  border-radius: 7px;
  background-clip: border-box;
  box-shadow: 3px 3px black;
}

.option:hover {
  cursor: crosshair;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}